.screen
{
    height:100vh;
    
    position: relative;
    

    overflow: hidden;
    display:grid;
     grid-template-columns: 110.75px 1fr  ;
    
}  
.nav{
    height:100vh;
    grid-column: 1;

}
#top{
    display: none;
}

#rest
{
    grid-column: 2;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    padding: 32px;
     
    flex-direction: column;
    position:relative;
  

}

#sbar{
    position:fixed;
    display: flex;
    justify-content: center;
    position:absolute;
    top:48px;
   
    z-index:1000;
}
#fibar
{
    display:flex;
    justify-content: center;
   position:absolute;
    top:118px;
    
    z-index:1000;
    
}
#restbar
{
    display:flex;
    flex-wrap: wrap;
    position:absolute;
    top:208px;
   
    width:726px;
    height:80vh;
    gap:16px;
    overflow:auto;

    padding-bottom: 150px;
    z-index:  2;
   
    
}

 #restbar::-webkit-scrollbar{
width:11px;
}

#restbar ::-webkit-scrollbar-track{
    width: 11px;
    height: 261px;
    top: 20px;
    left: 20px;
    padding: 2px 2px 88px 2px;
    gap: 0px;
    background: black;
    

} 
#restbar::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 3.5px; /* Rounded corners for the thumb */
    border: 1px solid #FFFFFF26;
    width: 7px;
    height: 171px;
    top: 2px;
    left: 2px;



}

#restbar::-webkit-scrollbar-thumb:hover {
    background: #C0C0C0;
    transition: background-color 150ms ease-out;

}

#restbar::-webkit-scrollbar-thumb:active {
    background: #A0A0A0;
    border: 1px solid #FFFFFF26;
 
    transition: background-color 150ms ease-out;
}



#s-icon{
    position: absolute;
    right:80px;
    bottom:10px;
    padding:16px;
    box-sizing:border-box;
    z-index:1;

}

/* Mobile Styles */
@media (max-width: 768px) {
    .screen {
        display: grid;
       grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr;
        gap:0px; /* Define rows for top bar, search bar, filter bar, restbar */
        overflow: hidden;
        background: #F5F5F5;
        padding: 8px 0px;
    }

    .nav {
        position: fixed;
        /* border-radius:24px; */
        bottom: 0;
        left: 0;
        width: 100%;
        height: 102px; /* Adjust height for mobile */
        padding: 10px 8px;
        background:#F5F5F5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        /* margin-bottom: 20px; */
    }

    #top {
        grid-row: 1;
        width: 100%;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        width:100%;
        margin-bottom: 1px;
        
        padding:0px 18px;
        justify-content: space-between;
    }
    #top Image{
        border: none;
        
    }

    #user-icon{
    position:relative;
    justify-content: flex-end;
    width:36px;
    height: 36px;
    border-radius: 6px;
    margin-right: 10px;
    }

    #sbar {
        margin: 4px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        top:0px;
        
        
         /* Adjust background color for visibility */
    }

    #bar{
        width:fit-content;
    }

    #mainbar{
        width:100vw;
    }

    #fibar {
       
        display: flex;
        position: relative;
        /* padding: 0px 50px; */
        /* justify-content: center; */
        top:60px;
        width:100vw;
        justify-content: center;
        background: #F5F5F5;
        overflow-x: auto;
        margin-left: 10px;
        
        
    }

    #fibar::-webkit-scrollbar {
        display: none;
    }

    #rest {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
        padding: 0px;
        /* width:fit-content; */
    
        
         /* Adjust padding for mobile */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: top; */
        
        background: #F5F5F5;
       
    }

    #restbar {
        top: 105px;
        width: 100%;
        padding: 16px;
        overflow-y: auto;
        display: flex;
        
       
        
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom:200px;
        padding-top: 10px;
        padding-left: 8px;
       
    }

   
    #restbar::-webkit-scrollbar {
        display: none;
    }

    #s-icon {
        display: none; 
    }
}

/* @media (min-height:800px){
    #restbar{
    padding-bottom: 100px;
    }
} */

 
