#outer-box{
    width:344px;
    height:180px;
    border-radius:20px;
    
    position: relative;
    display: block;
    overflow: hidden;
   
    

}
#outer-box:hover {
    transform: scale(.95); 
    transition: 150ms ease-out;
    
    
}
#image-container{
    
    background-size: cover;
    background-position: center;
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius:20px 20px 0px 0px;
}
#panel
{
    display: flex;
    justify-content: space-evenly;
    
    height:51px;
    width: 100%;
    position: absolute;
    background: #FFFFFF;

    align-items:center;
    z-index:2;
    bottom:0;
    font-family: Urbanist;
     border-radius:0px 0px 20px 20px ;
}
#info
{
    height:19px;
    display:flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
#rname{
    display: flex;
    align-items: center;
    overflow: hidden;
    height:19px;
    width:218px;
    font-size: 16px;

}

#time-block
{
    width:94px;
    height:19px;
    right:10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

#time-block div {
    padding: 1.8px;
    
    
}
#like
{
    position:absolute;
    top:11px;
    right:10px;
    height:20px;
    width:20px;
    border-color: aliceblue;
    z-index:3;
}

.fav path {
    fill: none;
    stroke: #FCFCFC;
}




#like.favorite-button:not(.active):hover .fav path {
    fill: #F69B9B;
    stroke: #F69B9B;
}

#like.favorite-button.active .fav path {
    fill: #EF4D4D;
    stroke: #EF4D4D;
}


@media (max-width:450px){
    #like.favorite-button:not(.active) .fav path {
        fill: none;
        stroke: #FCFCFC;
    }
    #like.favorite-button.active .fav path {
        fill: #EF4D4D;
        stroke: #EF4D4D;
    }
    #like.favorite-button:not(.active):hover .fav path {
        fill: none;
        stroke: #FCFCFC;
    }
    
    #outer-box{
        width:90vw;
        height:180px;
        border-radius:20px;
        
        position: relative;
        display: block;
        overflow: hidden;
       
        
    
    }
}

@media ((min-width:451px) and (max-width:768px)){
    #like.favorite-button:not(.active) .fav path {
        fill: none;
        stroke: #FCFCFC;
    }
    #like.favorite-button.active .fav path {
        fill: #EF4D4D;
        stroke: #EF4D4D;
    }
    #like.favorite-button:not(.active):hover .fav path {
        fill: none;
        stroke: #FCFCFC;
    }
    
    #outer-box{
        width:67vw;
        height:180px;
        border-radius:20px;
        
        position: relative;
        display: block;
        overflow: hidden;
       
        
    
    }
}


/* #like img {
    height: 100%; 
    width: 100%; 
    transition: filter 150ms ease-out;
} */

/* Style for click effect */
/* #like:active img {
    animation: like-click 150ms ease-out;
}

@keyframes like-click {
    0% {
        filter: none;
    }
    50% {
        filter: invert(36%) sepia(76%) saturate(5738%) hue-rotate(355deg) brightness(104%) contrast(102%);
    }
    100% {
        filter: none;
    }
} */
