.out
{
    display: inline-flex;
    width: 342px;
    height:49px;
    top: 48px;
    /* left: 469px; */
    padding: 15px 18px 15px 18px;
    gap: 0px;
    border-radius: 30px ;
    justify-content: space-between;
    align-items: center;
   
    background: #EDEDED;
    

}
.inn{
    display:flex;
    align-items: center;
    gap:3px;
}
.inn image{
    height:19px;
    width:15px;
}
.holder
{
  width:239px;
  height:19px;
  font-family: Urbanist,sans-serif;
  font-size:16px;
  font-weight: 400;
  text-align: left;
  opacity: 100%;
  background: none;
  border:none;
  outline: none;
  caret-color: #A6A6A6;
  color: #323030;
 
}
.out button{
    height:23px;
    width:23px;
    padding: 4px;
    gap: 10px;
}
.out button :active{
    background-color: #7cadbc;
    transition: 1s;
}
.out:hover{
    background: #F7F7F7;

}

@media (max-width:768px){
    .out{
        /* display:inline-flex ; */
        width:90%;
        border-radius: 30px;
        padding: 12px 18px;
        /* position:fixed; */
       
        /* top:70px; */
        
        
        
        

        

    }

    .holder{
        font-size: 15px;
    }
}